APScheduler==3.10.1
attrs==23.1.0
jsonschema==4.17.3
ocpp==0.18.0
pyrsistent==0.19.3
pystache==0.6.0
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
six==1.16.0
tzdata==2023.3
tzlocal==4.3
unsync==1.4.0
websockets==11.0.2